
.sides {
  animation: 0.7s curtain cubic-bezier(.86,0,.07,1) 0.4s both;
  
  display: grid;
  grid-template-columns: 50vw 50vw;
}


@keyframes curtain {
  0% {
    grid-gap: 100vw; 
  }
  
  100% {
    grid-gap: 0;
  }
}







.content1 {
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.sides {
  position: relative;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 4vw;
}

.monkey {
  background-color: #fdb827;
  color: #542583;
}

.robot {
  background-color: #bf2f38;
  color: #061922;
  flex-direction: column-reverse;
}

.name {
  margin: 0.3em;
}

.emoji {
  font-size: 2.5em;
}

.versus {
  position: absolute;
  width: 8vw;
  height: 8vw;
  background: #ffffff;
  border-radius: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.4vw;
  color: black;
  border-width: 10px;
  border-style: solid;
  border-color: #bf2f38 #fdb827 #fdb827 #bf2f38;
  transform: rotate(-45deg);
}

.versus span {
  transform: rotate(35deg);
}
