@import './gridgap.css';
@import './ball.css';

.grid-wrapper{
    display: grid;
    width: 98vw;
    height: 95vh;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    /* grid-template-rows == gridRows
       grid-template-columns == gridColumns */

       grid-template-rows: 128fr 2fr 2fr 2fr  1fr;
       grid-template-columns: 1fr 2fr 2fr 50fr 1fr;
       grid-template:
             "header    header      header      header       navigation"
             "content1  content1    content1    content1     navigation"
             "content1  content1    content1    content1     navigation"
             "content1  content1    content1    content1     navigation"
             "footer    footer      footer      footer       footer";

    font-family: Arial, Helvetica, sans-serif;         
    ; 
}
/* header Area */
.header{
    grid-area:header;
    background-color: red;
    font-size: 2rem;
    
}

.header h1{
    text-align: center;
    color: white;
}

/* content 1 Area*/
.content1{
    grid-area:content1;
    display: grid;
    grid-template-columns:1fr 1fr;
    background-color: BLACK;
} 

/* content 2 Area
.content2{
    grid-area: content2;
    background-color: darkgoldenrod;
}

.content1, .content2{
    text-align: center;
    color: whitesmoke;
} */

/* Navigation Area */
.navigation{
    grid-area: navigation;
    background-color: #ae8ca3;
    color: whitesmoke;
    padding: 1em;
}

nav ul{
    text-decoration: none;
}



/* Footer Area */
.footer{
    grid-area: footer;
    background-color: #91ccec;
}


.container{
    margin: 0 auto;
    position: absolute;
    transform: translate(7em,0);
}

li>a{
font-weight: bolder;
color: white;
line-height: 2rem;
}
